@use "sass:math"
@import "mixins"

// @import '~bootstrap/scss/bootstrap'

//#S Fonts
//<Подключаем шрифты>
//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic&display=swap&subset=cyrillic-ext)


@import "fonts"

@import "variables"

//#S Resetting, Common settings
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>
@import "null"
body 
	text-rendering: optimizeSpeed
	line-height: 1.5
	color: #303030
	background-color: #f7f7f7
	&._lock 
		overflow: hidden
a
	color: #000
	transition: .2s color
	font-weight: 700
	&:hover
		color: $mainColor
h1
	font-size: 28px
	color: #303030
	font-weight: 700
	line-height: 1.2em
	padding: 30px 20px 30px
	text-align: center
h2
	font-size: 20px
	font-weight: 700
	padding: 20px 10px 20px 0

//!#S Resetting, Common settings End



// #S[id=wrapper] Wrapper
.wrapper 
	width: 100%
	min-height: 100%
	overflow: hidden
	display: flex
	flex-direction: column
	&._loaded 
		/* */

// !#S Wrapper End



// #S[id=container] Main Grid
._container 
	max-width: $maxWidthContainer + px
	margin: 0 auto
	@media (max-width: $md1 + px) 
		max-width: 970px
	
	@media (max-width: $md2+px) 
		max-width: 750px
	
	@media (max-width: $md3+px) 
		max-width: none
		padding: 0 10px
	
// !#S Main Grid End



// #S[id=connect] Other fiels connection
@import "forms"
@import "ui"
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=====================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=====================================================================
//@import "datepicker"
//@import "lightgallery"
//@import "pagging"
@import "popup"
@import "header"
@import "footer"
@import "home"
@import "dashboard"

// !#S Other fiels connection End


	
// #S[id=main-block] Main Block
.page 
	flex: 1 1 auto
#app
	height: 100%
	&>div:nth-child(2)
		padding-top: 100px	
		height: 100%
	.center
		display: flex
		justify-content: center
		align-items: center

._table
		width: 100%
		td
			text-align: center
